* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(87, 133, 139), rgb(58, 182, 134));
  padding: 20vh 0 10vh;
}
